:root {
    --color1:  #01996D;
    --color2:  #ffffff;
    --color48:  #484848;
    --color42:  #424242;
    --bg: #245852;
}

.row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: block;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

body {
    width: 100vw;
    font-family: Lato, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

.container {
    padding: 0;
}

.wrapper__nav {
    height: 85px;
    padding: 17px 0;
    border-bottom: 1px solid #D6D6D6;
}

.logo {
    max-width: 80px;
}

.wrapper__nav-link {
    max-width: 557px;
}

.nav-link {
    color: #292929;
}

.btn {
    border-color: none;
}

.btn__header {
    width: 183px;
    height: 51px;
    margin-left: 35px;
}

.subsection {
    width: 100%;
    height: 895px;
    background: url(../assets/background/img-background.png) center center/cover no-repeat;
    padding-top: 175px;
    padding-bottom: 328px;
}

.subsection__heading {
    max-width: 480px;
    margin-bottom: 30px;
    font-family: Georgia;
    font-size: 4.06rem;
    color: var(--color1);
}

.subsection__text {
    max-width: 480px;
    margin-bottom: 51px;
    color: var(--color48);
}

.button_all {
    width: 227px;
    height: 65px;
}

.container-steps {
    max-width: 1413px;
}

.steps__item {
    max-width: 223px;
    height: 38px;
    margin-top: 169px;
    font-size: 1.5rem;
    color: var(--color42);
}

.stores__heading,
.heading {
    max-width: 576px;
    font-family: Georgia;
    font-size: 3.15rem;
}

.heading {
    padding-top: 10px;
    color: var(--color1);
}

.steps__text {
    max-width: 635px;
    font-weight: 500;
    line-height: 30px;
    color: var(--color42);
    font-size: 1.25rem;
}

.wrapper-step_one {
    margin-top: 52px;
}

.wrapper-step_two {
    margin-top: 339px;
}

.wrapper-step_three {
    margin-top: 106px;
}

.check-step {
   max-width: 379px;
    height: 225px;
}

.check-step__img {
    max-width: 157px;
}

.check-step__title {
    font-family: Georgia;
    font-size: 1.9rem;
    line-height: 45px;
    color: #000;
    bottom: 18%;
    left: 16%;
}

.title-alivio {
    bottom: 27%;
    left: 23%;
}

.check-step__text {
    max-width: 382px;
    color: var(--color42);
}

.container__images {
    max-width: 390px;
    margin-top: 60px;
    border-radius: 15px;
}

.stores {
    height: 922px;
    margin-top: 51px;
    background: var(--bg);
}

.container__stores {
    max-width: 1506px;
    margin: auto;
}

.stores__heading {
    padding-top: 310px;
    color: var(--color2);
}

.stores__text {
    margin-top: 33px;
    margin-bottom: 57px;
    font-family: Lato;
    font-size: 25px;
    font-weight: 600;
    line-height: 39px;
    color: var(--color2);
}

.embed-video {
    width: 896px;
    height: 516px;
    margin-top: 229px;
    margin-left: 61px;
}

.video {
    width: 100%;
    height: 100%;
}









@media (max-width: 992px) {
    body {
        font-size: 1.1rem;
    }

    .container {
        max-width: 650px;
    }

    .wrapper__nav {
        padding: 10px 0;
    }

    .btn__header {
        width: 90px;
        height: 40px;
        margin-left: 0px;
    }

    .subsection {
        height: 550px;
        padding-top: 100px;
        padding-bottom: 70px;
    }

    .steps__item {
        max-width: 242px;
        margin-left: 30px;
        margin-top: 120px;
        font-size: 1.4rem;
    }

    .heading {
        margin: 0 auto;
    }

    .wrapper-step_two {
        padding-left: 38%;
    }

    .wrapper-step_two,
    .wrapper-step_three {
        margin-top: 90px;
    }

    .check-step__title {
        bottom: 62px;
        left: 13px;
    }

    .title-alivio {
        bottom: 75px;
        left: 32px;
    }
}







@media (max-width: 766px) {
    body {
        font-size: 1rem;
    }

    .container {
        max-width: 380px;
    }

    .wrapper__nav {
        height: 45px;
        padding: 0;
    }

    .logo {
        max-width: 70px;
    }

    .navbar-toggler:focus {
         box-shadow: none;
    }

    .navbar-collapse {
        text-align: end;
    }

    .subsection {
        height: 280px;
        padding-top: 155px;
        padding-bottom: 0px;
    }

    .subsection__heading {
        display: none;
    }

    .subsection__text {
        display: none;
    }

    .button_all {
        width: 170px;
        height: 45px;
    }

    .steps__item {
        max-width: 150px;
        margin-left: 0px;
        margin-top: 80px;
        font-size: 1rem;
    }

    .heading {
        max-width: 351px;
        font-size: 1.9rem;
        text-align: start;
        margin: 0;
        padding-top: 0;
    }

    .check-step {
        max-width: 180px;
        height: 120px;
    }

    .wrapper-step_two {
        padding-left: 43%;
    }

    .wrapper-step_two,
    .wrapper-step_three {
        margin-top: 70px;
    }

    .check-step__img {
        max-width: 100px;
    }

    .check-step__title {
        font-size: 1rem;
        line-height: 0;
        bottom: 34px;
        left: 13px;
    }

    .title-alivio {
        bottom: 25%;
        left: 36%;
    }

    .check-step__text {
        font-size: 0.8rem;
        max-width: 210px;
    }

    .container__images {
        max-width: 210px;
        margin-top: 30px;
    }

}

@media (max-width: 535px) {
    body {
        font-size: 0.8rem;
    }

    .container {
        max-width: 300px;
    }

    .wrapper__nav {
        height: 45px;
    }

    .logo {
        max-width: 45px;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
        }

    .navbar-toggler-icon {
        width: 30px;
    }

    .wrapper__navbar {
        margin-left: 80px;
    }

    .wrapper__nav-link {
        padding-left: 41px;
        padding-top: 20px;
    }

    .btn__header {
        width: 85px;
        height: 35px;
        margin-left: 0px;
        font-size: 0.8rem;
    }

    .subsection {
        height: 230px;
        padding-top: 0px;
        font-size: 0.8rem;
    }

    .button_all {
        width: 135px;
        height: 40px;
        font-size: 0.8rem;
        margin-top: 150px;
    }

    .steps__item {
        margin-top: 65px;
        font-size: 0.7rem;
    }

    .heading {
        max-width: 265px;
        font-size: 1.4rem;
    }

    .wrapper-step_one {
        margin-top: 25px;
    }

    .wrapper-step_two {
        padding-left: 38%;
    }

    .wrapper-step_three,
    .wrapper-step_two {
        margin-top: 60px;
    }

    .check-step {
        max-width: 157px;
        height: 80px;
    }

    .check-step__img {
        max-width: 70px;
    }

    .check-step__title {
        font-size: 0.7rem;
        bottom: 26px;
        left: 20px;
    }

    .title-alivio {
        bottom: 30px;
        left: 20px;
    }

    .check-step__text {
        font-size: 0.6rem;
    }

    .check-step__text,
    .container__images {
        max-width: 180px;
    }
}

