body {
    box-sizing: border-box;
    width: 100vw;
    font-family: Lato, sans-serif;
    font-size: 1.25rem;
    font-weight: 400;
}

.container {
   /*  max-width: 1370px; */
    padding: 0;
}

.wrapper__nav {
    height: 85px;
    padding: 17px 0;
    border-bottom: 1px solid #D6D6D6;
}

.logo {
    max-width: 80px;
}

.wrapper__nav-link {
    width: 557px;
}

.nav-link {
    color: #292929;
}

.btn {
    border-color: none;
}

.btn__header {
    width: 183px;
    height: 51px;
    margin-left: 35px;
}

.subsection {
    width: 100%;
    height: 895px;
    background: url(../assets/background/img-background.png) center center/cover no-repeat;
    padding-top: 175px;
    padding-bottom: 328px;
}

.subsection__heading {
    max-width: 480px;
    margin-bottom: 30px;
    font-family: Georgia;
    font-size: 4.06rem;
    color: #01996D;
}

.subsection__text {
    max-width: 480px;
    margin-bottom: 51px;
    color: #484848;
}

.button_all {
    width: 227px;
    height: 65px;
}

.container-steps {
    width: 1413px;
}

.steps {
    height: 1606px;
}

.steps__item {
    width: 170px;
    height: 38px;
    margin-top: 169px;
    font-size: 1.5rem;
    color: #424242;

}

.heading {
    width: 608px;
    padding-top: 10px;
    font-family: Georgia;
    font-size: 3.15rem;
    color: #01996D;
}

.steps__text {
    width: 676px;
    margin-left: 105px;
    font-weight: 500;
    line-height: 30px;
    color: #424242;
    font-size: 1.25rem;
}

.wrapper-step {
    margin-top: 52px;
}

.check-step {
    width: 269px;
    height: 225px;
}

.check-step__img {
    width: 157px;
    height: 50%;
}

.check-step__title {
    font-family: Georgia;
    font-size: 1.9rem;
    line-height: 45px;
    color: #000;
    bottom: 18%;
    left: 52%;
}
















@media (max-width: 992px) {
    body {
        font-size: 1.1rem;
    }

    .container {
        width: 720px;
    }

    .wrapper__nav {
        padding: 10px 0;
    }

    .wrapper__nav-link {
        width: 390px;
    }

    .btn__header {
        width: 90px;
        height: 40px;
        margin-left: 0px;
    }

    .subsection {
        height: 550px;
        padding-top: 100px;
        padding-bottom: 70px;
        font-size: 1.25rem;
    }

    .steps__item {
        margin-top: 120px;
        font-size: 1.4rem;
    }
}





@media (max-width: 769px) {
    .container {
        width: 680px;
    }

    .subsection {
        height: 420px;
        padding-top: 80px;
        padding-bottom: 0px;
        font-size: 1rem;
    }

    .wrapper__nav {
        height: 60px;
        padding: 0;
    }

    .subsection__heading {
        display: block;
        max-width: 340px;
        margin-bottom: 15px;
        font-size: 2.5rem;
     }

     .subsection__text {
        display: block;
        max-width: 341px;
        margin-bottom: 35px;
    }

    .button_all {
        width: 170px;
        height: 45px;
    }


    .heading {
        width: 480px;
        font-size: 2.5rem;
    }

}

@media (max-width: 575px) {
    body {
        font-size: 0.8rem;
    }

    .container {
        width: 300px;
    }

    .wrapper__nav {
        height: 50px;
    }

    .logo {
        max-width: 50px;
        margin-left: 15px;
    }

    .navbar-toggler:focus {
        text-decoration: none;
        outline: 0;
        box-shadow: none;
        };

    .navbar-toggler-icon {
        width: 30px;
        margin-right: 10px;
    }

    .wrapper__navbar {
        margin-left: 80px;
    }

    .wrapper__nav-link {
        padding-left: 41px;
        padding-top: 20px;
    }

    .subsection {
        height: 280px;
        padding-top: 0px;
        padding-bottom: 0px;
        font-size: 0.8rem;
    }

    .subsection__heading {
        display: none;
    }

    .subsection__text {
        display: none;
    }

    .button_all {
        width: 115px;
        height: 40px;
        font-size: 0.8rem;
        margin-top: 210px;
    }

    .btn__header {
        width: 80px;
        height: 30px;
        margin-left: 0px;
        font-size: 0.8rem;
    }

    .steps__item {
        margin-top: 70px;
        font-size: 0.9rem;
    }

    .heading {
        width: 300px;
        font-size: 1.5rem;
        padding-top: 0;
    }
}

